* {
  margin: 0;
  padding: 0;
  font-family: 'Tillium Web', sans-serif;
}

.section_1 {
  height: 100vh;
  width: 100vw;
  left: 0;
  top:0;
  background-image: url(assets/sunset.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
}

span {
  display: table;
  margin: 0 auto;
}

#name {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  align-content: center;
}

#typed {
  color: white;
  font-size: 500%;
  justify-content: center;
  padding-top: 16%;
  text-shadow: 2px 2px 2px black;
  letter-spacing: -3px;
  font-weight: 700;
}

#type-name {
  letter-spacing: -3px;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  color: white;
  font-size: 500%;
  text-shadow: 2px 2px 2px black;
}


.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100vw;
}
#navbar {
  border: 0;
  background-color: #303030;
  opacity: 0.8;
  border-radius: 0;
  margin-bottom: 0;
  height: 75px;
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
  position: fixed;
}
.nav_links {
  display: flex;
  margin: 0;
  text-decoration: none;
  align-items: center;
}
.nav_links li {
  float: right;
  display: inline-block;
  align-items: center;
}
.nav_links li a {
  margin-right: 3em;
  float: right;
  padding: 0 15.5px;
  color: wheat;
  text-align: center;
}

.nav_links li a:hover {
  cursor: pointer;
  color: #FF9D5C;
  transform: scale(1.5,1.5);
}
nav.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
  justify-content: space-around;
}

/*-----About-Me  ------*/
/*-----  --------------*/
/*-----  --------------*/
/*-----  --------------*/

#about-me {
  width: 100vw;
  min-height: 42em;
  /* background-image: -ms-linear-gradient(bottom, rgba(0, 53, 127, 0.377) 0%, #170075 100%); */
  /* background-image: -moz-linear-gradient(bottom, rgba(0, 53, 127, 0.171) 0%, #170075 100%); */
  /* background-image: -o-linear-gradient(bottom, #00357F 0%, #170075 100%); */
  /* background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00357F), color-stop(100, #170075)); */
  /* background-image: -webkit-linear-gradient(bottom, rgba(0, 53, 127, 0.24) 0%, #170075 100%); */

  /* background-image: linear-gradient(to top, #00357F 0%, #170075 0%); */

  background-image: linear-gradient(to top, rgba(19, 17, 126, 0.76), #3709f0bb 0%);
}

.about {
  padding-top: 10%;
  width: 80%;
}

.about-picture {

}

.pic {
  border-radius: 3em;
  display: flex;
  float: left;
  min-height: 100%;
  margin: 2em;
}

.about-info {

}

.about-position {
  display: flex;
  color: white;
  float: left;
}

.name {
  color: white;
  font-size: 5em;
  font-weight: 300;
  padding-bottom: 0.3em;
}

.profession {
  color: white;
  font-size: 3em;
  font-weight: 300;
}

.about-me-paragraph {
  display: flex;
  color: white;
  padding: 2em 0;
  margin: 0 auto;
  line-height: 1.5em;
  font-weight: 300;
}

.resume {
  margin: 0 auto;
  padding-bottom: 10%;
  display: flex;
  justify-content: center;
}

.button {
  background: red;
  padding: 1em;
}


/*-----PROJECTS  ------*/
/*-----  --------------*/
/*-----  --------------*/
/*-----  --------------*/



#project-showcase {
  padding-top: 6em;
  height: 100%;
  width: 100vw;
  background-image: -ms-linear-gradient(left, #BFE8FF 0%, #57A0FF 100%);
  background-image: -moz-linear-gradient(left, #BFE8FF 0%, #57A0FF 100%);
  background-image: -o-linear-gradient(left, #BFE8FF 0%, #57A0FF 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #BFE8FF), color-stop(100, #57A0FF));
  background-image: -webkit-linear-gradient(left, #BFE8FF 0%, #57A0FF 100%);
  background-image: linear-gradient(to right, #BFE8FF 0%, #57A0FF 100%);
  margin: 0 auto;
  padding-bottom: 4em;
}

#projects {
  width: 80%;
  margin: 0 auto;

}

.project-text {
  font-family: 'Tillium Web', sans-serif;
  color: #555;
  font-weight: 300;
  letter-spacing: 3px;
  position: relative;
  font-size: 5em;
  text-shadow: -2px -2px 2px #EDEDED, 2px 2px 2px #ccc;
  margin-bottom: 0.5em;
  color: black;
}

.project-title {
  margin: 1em;
  font-family: 'Tillium Web', sans-serif;
  color: black;
}

.text-center {
  margin: 1em;
  letter-spacing: 3px;
  font-family: 'Tillium Web', sans-serif;
  color: black;
}

.project-li {
  list-style: none;
  color: black;
}
.project-title:hover {
  color: blue;
  cursor: pointer;
}

hr {
  border-color: black;
}


/*-----FOOTER  --------*/
/*-----  --------------*/
/*-----  --------------*/
/*-----  --------------*/
#footer {
  height: 150px;
  width: 100vw;
  background: black;
}
.footer {
  color: white;
  display: flex;
  width: 100vw;
  justify-content: space-around;
}
#footer-ul {
  list-style: none;
  display: flex;
  width: 66%;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: 2em;
}
#link {
  display: table;
  margin: 0 auto;
  padding: 0.5em;
  align-content: center;
  height: 100%;
  font-size: 150%;
  justify-content: center;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  cursor: pointer;
  color: blue;
}

i {
  font-size: 200%;
}




/* Media Queries */

@media only screen and (max-width: 1000px) {
  #typed {
    margin-top: 2em;
  }
  .about {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .about-picture {
    margin: 0 auto;
    padding-top: 0;
}
  .about-info {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .name {
    margin: 0 auto;
  }
  .profession {
    margin: 0 auto;
  }
  .about-me-paragraph {
    text-align: center;
  }
}
