* {
  margin: 0;
  padding: 0;
}

.section_1 {
  height: 100vh;
  width: 100vw;
  left: 0;
  top:0;
  background-image: url(assets/sunset.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
}

span {
  display: table;
  margin: 0 auto;
}

#name {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  align-content: center;
}

#typed {
  color: white;
  font-size: 500%;
  justify-content: center;
  padding-top: 16%;
  text-shadow: 2px 2px 2px black;
  /* font-family: Lobster; */
  font-family: Lato;
  font-weight: 700;
}

#type-name {
  /* font-family: Lobster; */
  font-family: Lato;
  font-weight: 700;
  color: white;
  font-size: 500%;
  text-shadow: 2px 2px 2px black;
}


.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100vw;
}
#navbar {
  border: 0;
  background-color: #303030;
  border-radius: 0;
  margin-bottom: 0;
  height: 50px;
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
  position: fixed;
}
.nav_links {
  display: flex;
  margin: 0;
  text-decoration: none;
}
.nav_links li {
  float: right;
  display: inline-block;
  margin-top: 1em;
}
.nav_links li a {
  margin-right: 3em;
  float: right;
  padding: 0 15.5px;
  color: wheat;
  text-decoration: none;
  text-align: center;
}
/* #last_nav_link {
  position: absolute;
  right: 0;
} */
.nav_links li a:hover {
  cursor: pointer;
  color: #FF9D5C;
  transform: scale(2,2);
}
nav.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
  justify-content: space-around;
}

/*-----About-Me  ------*/
/*-----  --------------*/
/*-----  --------------*/
/*-----  --------------*/

#about-me {
  width: 100vw;
  height: 100vh;
}




/*-----PROJECTS  ------*/
/*-----  --------------*/
/*-----  --------------*/
/*-----  --------------*/



#project-showcase {
  padding-top: 6em;
  height: 100%;
  width: 100vw;
  background: linear-gradient(to bottom left, #e0e0e0, white, white);
  margin: 0 auto;
}

.project-text {
  font-family: Lato;
  font-weight: 700;
  font-size: 600%;
  text-shadow: 4px 2px 2px grey;
  margin-left: 1.5em;
}

.row {
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  width: 100%;
  margin: 0 auto;
  /* justify-content: space-around; */
}
.column {
  flex-basis: 100%;
}

.apps {
  max-width: 90vw;
  margin: 0 auto;
}


.box {
  text-align: center;
  margin: 1em;
  border-radius: 3%;
  width: 250px;
  height: 250px;
  min-width: 250px;
  justify-content: center;
  display: flex;
  flex-direction: column-reverse;
  /* flex-wrap: nowrap; */
  align-items: center;
  box-shadow: 10px 5px 10px 10px grey;
}

.box a img {
  /* display: flex; */
  max-width: 90%;
  width: 100%;
  order: 2;
  margin: 0 auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.box-title {
  order: 1;
  /* justify-content: center; */
  font-family: Lato;
  height: 30px;
  border-bottom: 2px solid black;
}

.summary {
  /* float: right; */
  /* position: relative; */
  order: 2;
  display: flex;
  flex-wrap: wrap;
}

#project {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}







/*-----FOOTER  --------*/
/*-----  --------------*/
/*-----  --------------*/
/*-----  --------------*/
#footer {
  height: 150px;
  width: 100vw;
  background: black;
}
.footer {
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
#footer-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
#link {
  display: table;
  margin: 0 auto;
  padding: 2em;
  align-content: center;
  height: 100%;
  font-size: 150%;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  cursor: pointer;
  color: blue;
}

i {
  font-size: 200%;
}




/* Media Queries */

@media only screen and (max-width: 1023) {

}
